<ul class="search-condition" ng-controller="addPersonFormCtrl">
	<li class="clearfix condition-line">
		<div class="choose-condition">
			<label>姓名</label>
		</div>
		<i class="fh">：</i>
		<div class="condition-value">
			<input type="text" class="c-v-area b-w">
		</div>
	</li>
	<li class="clearfix condition-line">
		<div class="choose-condition">
			<label>手机号</label>
		</div>
		<i class="fh">：</i>
		<div class="condition-value">
			<input type="text" class="c-v-area b-w">
		</div>
	</li>
	<li class="clearfix condition-line">
		<div class="choose-condition">
			<label>电子邮箱</label>
		</div>
		<i class="fh">：</i>
		<div class="condition-value">
			<input type="text" class="c-v-area b-w">
		</div>
	</li>
	<li class="clearfix condition-line">
		<div class="choose-condition">
			<label>身份证号</label>
		</div>
		<i class="fh">：</i>
		<div class="condition-value">
			<input type="text" class="c-v-area b-w">
		</div>
	</li>
	<li class="clearfix condition-line">
		<div class="choose-condition">
			<label>QQ号</label>
		</div>
		<i class="fh">：</i>
		<div class="condition-value">
			<input type="text" class="c-v-area b-w">
		</div>
	</li>
	<li class="clearfix condition-line">
		<div class="choose-condition">
			<label>微信号</label>
		</div>
		<i class="fh">：</i>
		<div class="condition-value">
			<input type="text" class="c-v-area b-w">
		</div>
	</li>
	<li class="clearfix condition-line">
		<div class="choose-condition">
			<label>新浪微博昵称</label>
		</div>
		<i class="fh">：</i>
		<div class="condition-value">
			<input type="text" class="c-v-area b-w">
		</div>
		<div ng-if="pageName == 'searchNoResult'">
			<a href="javascript:void(0);" class="add-fied common-btn">增加字段</a>
		</div>
	</li>
	<div ng-if="pageName == 'add' || pageName == 'editClue'">
		<li class="clearfix condition-line">
			<div class="choose-condition">
				<select class="condition-type b-w" 
				ng-model="defaultFields" 
				ng-options="fields.value as fields.text for fields in customFields">
				</select>
			</div>
			<i class="fh">：</i>
			<div class="condition-value">
				<input type="text" class="c-v-area b-w">
			</div>
			<div ng-if="pageName == 'add' || pageName == 'editClue'">
				<a href="javascript:void(0);" class="add-fied common-btn">增加字段</a>
			</div>
		</li>
	</div>
	<div ng-if="pageName == 'add' || pageName == 'searchNoResult'">
		<li class="clearfix condition-line">
			<div class="choose-condition">
				<label>所属虚拟人库</label>
			</div>
			<i class="fh">：</i>
			<div class="condition-value">
				<select class="value-select b-w" 
				ng-model="defaultLibrary" 
				ng-options="library.value as library.text for library in personLibrary">
				</select>
			</div>
			<div ng-if="pageName == 'add'">
				<a href="javascript:void(0);" class="add-fied common-btn">增加字段</a>
			</div>
		</li>
	</div>
</ul>