<ul class="search-condition" ng-controller="addPersonFormCtrl" ng-init="initForm()">
	<mytoast></mytoast>
	<li class="clearfix condition-line" ng-repeat="item in fieldItem">
		<div class="choose-condition">
			<label>{{item.addFieldLabel}}</label>
		</div>
		<i class="fh">：</i>
		<div class="condition-value">
			<input type="text" class="c-v-area b-w" ng-model="item.addFieldValue">
		</div>
	</li>
	<li class="clearfix condition-line" ng-repeat="item in newAddItem">
		<div class="choose-condition">
			<select class="condition-type b-w" 
			ng-model="item.label" 
			ng-options="fields.value as fields.text for fields in customFields">
			</select>
		</div>
		<i class="fh">：</i>
		<div class="condition-value">
			<input type="text" class="c-v-area b-w" ng-model="item.value">
		</div>
	</li>

	<li class="clearfix condition-line">
		<div class="choose-condition">
			<select class="condition-type b-w" 
			ng-model="defaultFields" 
			ng-options="fields.value as fields.text for fields in customFields">
			</select>
		</div>
		<i class="fh">：</i>
		<div class="condition-value">
			<input type="text" class="c-v-area b-w" ng-model="customVal">
		</div>
		<a href="javascript:void(0);" class="add-fied common-btn" ng-click="addNewFeild()">增加字段</a>
	</li>
	<div ng-if="pageName == 'add' || pageName == 'searchNoResult'">
		<li class="clearfix condition-line">
			<div class="choose-condition">
				<label>所属虚拟人库</label>
			</div>
			<i class="fh">：</i>
			<div class="condition-value">
				<select class="value-select b-w" 
				ng-model="defaultLibrary" 
				ng-options="library.value as library.text for library in personLibrary">
				</select>
			</div>
			<div ng-if="pageName == 'add'">
				<a href="javascript:void(0);" class="add-fied common-btn">新增库</a>
			</div>
		</li>
	</div>
</ul>