<div class="virtual-man-search" ng-controller="addCtrl" ng-init="initForm()">
	<div class="v-m-s-con b-w clearfix">
		<div class="detail-tab-box">
			<ul class="detail-tab add-tab clearfix">
				<a ui-sref="add"><li>添加单个虚拟人</li></a>
				<a href="javascript:void(0);"><li class="cur-tab">批量导入虚拟人</li></a>
			</ul>
		</div>
		<div class="import-result-tip">已成功导入<i>18472</i>个虚拟人，请选择下一步操作：</div>
		<div class="next-step-btn clearfix">
			<a href="javascript:void(0);" class="search-submit common-btn">继续导入虚拟人</a>
			<a href="javascript:void(0);" class="search-submit common-btn">查看导入结果</a>
		</div>
	</div>
</div>
<checkstatus></checkstatus>