<div class="virtual-man-library" ng-controller="databaseCtrl">
	<div class="v-m-l-title b-w clearfix">
		<label>虚拟人库：</label>
		<select class="b-w">
			<option>全部库</option>
			<option>个人理财库</option>
			<option>贵金属库</option>
			<option>促销活动库</option>
			<option>默认库</option>
		</select>
		<a href="javascript:void(0);" class="common-btn move-200">导出库</a>
		<a href="javascript:void(0);" class="common-btn move-200">新增库</a>
	</div>
	<personitem></personitem>
	<pagingitem></pagingitem>
</div>
<!-- <checkstatus></checkstatus> -->