<div class="app-header clearfix" ng-controller="topHeaderCtrl">
	<div class="menu-btn move-200" ng-click="asideShrink()">
		<em class="font-ico show-status cur-status">&#xe23d;</em>
		<em class="font-ico hide-status">&#xe23e;</em>
	</div>
	<div class="system-info clearfix">
		<img src="/images/logo.png">
		<span>中国工商银行北京市崇文支行</span>
	</div>
	<div class="user-info clearfix">
		<img src="/images/user.jpg">
		<span class="user-name">maikuraki</span>
		<ul class="user-info-item b-w">
			<li class="clearfix" ng-click="loginOut()">
				<i class="font-ico">&#xe879;</i>
				<span>退出</span>
			</li>
		</ul>
	</div>
</div>